
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>{{hallName}} </h1>
		</div>
	</div>
	<div class="row">
		<div class="userList col-md-3">
			<div class="row">
				<div class="col-md-3">
					<span class="label label-primary">用户名</span>
				</div>
				<div class="col-md-3">
					<span class="label label-primary">房间名</span>
				</div>
				<div class="col-md-3">
					<span class="label label-primary">状态</span>
				</div>
			</div>
			<div class="row user" ng-repeat="n in userList">
				<div class="col-md-3">
					<span class="label" ng-class="{true:'label-success',false:'label-default'}[n.name == username]" >{{n.name}}</span>
				</div>
				<div class="col-md-3">
					<span class="label label-default" >{{n.roomName||'空'}}</span>
				</div>
				<div class="col-md-3">
					<span class="label label-default">{{n.gameStatus | gameStatus}}</span>
				</div>
			</div>
		</div>
		<div class="chatBoard col-md-6">
			<chat name="hall"></chat>
		</div>
		<div class="roomList col-md-3">
			<div class="room" ng-repeat="n in roomList">
				<room-icon data="n"></room-icon>
			</div>
		</div>
	</div>
</div>