<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h1>Craft Platform </h1>
		</div>
	</div>
	<div class="row col-md-2">
		<span class="label" ng-class="{true:'label-success',false:'label-default'}[!!user]">{{user?user.name:'未登录'}}</span >
	</div>
	<div class="row">
		<div class="col-md-4" ng-show="user">
			<div class="btn-group" role="group" aria-label="...">
				<button type="button" ng-click="changePart('userList')" class="btn" ng-class="{true:'btn-primary',false:'btn-default'}[part=='userList']">用户列表</button>
				<button type="button" ng-click="changePart('hallList')" class="btn" ng-class="{true:'btn-primary',false:'btn-default'}[part=='hallList']">大厅列表</button>
			</div>
		</div>
	</div>
	<div class="user" ng-show="part=='userList'">
		<div class="row" ng-show="user">
			<div class="col-md-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<td><span class="label label-primary">玩家名</span></td>
							<td><span class="label label-primary">大厅</span></td>
							<td><span class="label label-primary">房间</span></td>
							<td><span class="label label-primary">游戏名</span></td>
							<td><span class="label label-primary">游戏状态</span></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="p in userList">
							<td><span class="label" ng-class="{true:'label-success',false:'label-default'}[user.name == p.name]">{{p.name}}</span></td>
							<td>{{p.hallName||'空'}}</td>
							<td>{{p.roomName||'空'}}</td>
							<td>{{p.gameName||'空'}}</td>
							<td>{{['未进房间','待准备','已准备','游戏中'][p.gameStatus+1]}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row" ng-show="!user">
			<div class="col-md-3">
				<form>
					<div class="form-group">
						<label for="username">用户名:</label>
						<input ng-model="username" type="text" class="form-control" id="username" placeholder="username">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">密码:</label>
						<input ng-model="pwd" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<input ng-show="!user" class="btn btn-default" type="button" value="login" ng-click="login()"/>
				<input ng-show="user" class="btn btn-default" type="button" value="logout" ng-click="logout()"/>
				<input ng-show="user" class="btn btn-default" type="button" value="update" ng-click="update()"/>
				<input ng-show="user" class="btn btn-default" type="button" value="getPlayerList" ng-click="getPlayerList()"/>
			</div>
		</div>
	</div>
	<div class="row" ng-show="user && part=='hallList'">
		<table class="table table-striped">
			<thead>
				<tr>
					<td><span class="label label-primary">大厅名</span></td>
					<td><span class="label label-primary">游戏名</span></td>
					<td><span class="label label-primary">房间数量</span></td>
					<td><span class="label label-primary">人数</span></td>
					<td><span class="label label-primary">状态</span></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="n in hallList">
					<td>
						<span class="hallEntry label" ng-click="enterHall(n.hallName)" ng-class="{true:'label-success',false:'label-default'}[user && user.hallName==n.hallName]">
							{{n.hallName}}
						</span>
						<span ng-click="quitHall()" ng-show="user && user.hallName==n.hallName" class=" hallExit glyphicon glyphicon-remove">
							
						</span>
					</td>
					<td>{{n.gameName}}</td>
					<td>0</td>
					<td>{{n.userCount}}</td>
					<td>{{n.status}}</td>
				</tr>
			</tbody>
		</table>
		<div ng-show="user && user.hallName">
			<input class="btn btn-success" type="button" value="goHall" ng-click="goHall()"></input>
		</div>
	</div>
</div>