<div class="container">
 	<div class="row">
 		<div class="col-md-1"></div>
 		<div class="col-md-2">玩家名</div>
 		<div class="col-md-2">大厅</div>
 		<div class="col-md-2">房间</div>
 		<div class="col-md-2">游戏名</div>
 		<div class="col-md-2">游戏状态</div>
 		<div class="col-md-1"></div>
 	</div>
</div>
	<table table table-striped>
		<thead>
			<td>玩家名</td>
			<td>大厅</td>
			<td>房间</td>
			<td>游戏名</td>
			<td>游戏状态</td>
		</thead>
		<tbody>
			<tr ng-repeat="p in playerList">
				<td>{{p.name}}</td>
				<td>{{p.hallName||'空'}}</td>
				<td>{{p.roomName||'空'}}</td>
				<td>{{p.gameName||'空'}}</td>
				<td>{{['未进房间','待准备','已准备','游戏中'][p.gameStatus+1]}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="login">
	<input ng-model="username" type="text" ></input>
	<input ng-model="pwd" type="text" ></input>
</div>
<div class="buttonList">
	<input type="button" value="login" ng-click="login()"/>
	<input type="button" value="logout" ng-click="logout()"/>
	<input type="button" value="update" ng-click="update()"/>
	<input type="button" value="getPlayerList" ng-click="getPlayerList()"/>
</div>