body{
	color:white;
	font-size: 2em;
}

.loginStatus{
	width:120px;
	height: 40px;
	line-height: 40px;
	float: right;
	text-align: center;
}
.login{
	background-color: green;
}
.logout{
	background-color: gray;
}
.inHall,.outHall{
	@buttonHeight: 40px;
	color:white;
	text-align: center;
	height: @buttonHeight;
	line-height: @buttonHeight;
	
}
.inHall{
	background: green;
}
.outHall{
	background: gray;
	cursor: pointer;;

}



.changePart{
	margin: 0 auto;
	width: 400px;
	.button{
		float: left;
		width: 100px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		font-size: 2em;
		margin: 5px;
		background-color: olive;
		cursor:pointer;
	}
}
