.chatContainer{
	.chatList{
		margin: 0 auto;
		width: 800px;
		height: 400px;
		overflow-y: scroll;
		.item{
			@itemHeight:50px;
			height: @itemHeight;
			margin-bottom:10px; 
			&.mate,&.self{
				.sender{
					text-align: center;
					font-size: 30px;
					height: @itemHeight;
					line-height: @itemHeight;

				}
				.text{
					text-indent: 10px;
					text-align: left;
					font-size: 18px;
					border-radius: 5px;
					height: @itemHeight;
					line-height: @itemHeight;
					min-width: 100px;
					&.isPrivate{
						background-color: black;
						color:white;
					}
				}
			}
			@margin:20px;
			&.mate{
				.sender,.text{
					float: left;
					margin-left: @margin;
				}
				.text{
					background-color: olive;
				}
			}
			&.self{
				.sender,.text{
					float: right;
					margin-right: @margin;
				}
				.text{
					background-color: lightgreen;
				}	
			}
		}
	}

	@height:40px;
	@fontSize:20px;
	select.mates{
		font-size: @fontSize;
		width: 10%;
		height: @height;
	}

	.messageBox{
		font-size: @fontSize;
		width:60%;
		height: @height;
	}

	.sendButton{
		font-size: @fontSize;
		width:10%;
		height: @height;
		background-color: gray;
		cursor: pointer;
		&:hover{
			background-color: steelblue;
		}
	}
}